{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}

{% block object-tools %}
    {% if has_export_permission %}
	<ul class="object-tools">
        {% block object-tools-items %}
            <li>
                {% url cl.opts|admin_urlname:'export' as export_url %}
                <a href="{{ export_url }}" class="addlink">{% trans "Export Form Submissions" %}</a>
            </li>
            <li>
                {% url cl.opts|admin_urlname:'grouping' as grouping_url %}
                <a href="{{ grouping_url }}" class="addlink">{% trans "Gruppierung" %}</a>
            </li>
        {% endblock %}
    </ul>
    {% endif %}
{% endblock %}
